#macro (typeParams $cls)##
    #if ($cls.hasTypeParams())##
    <##
        #foreach ($tp in $cls.typeParams())##
            $[$tp.typeName()]##
            #if ($foreach.hasNext), #end##
        #end##
    >##
    #end##
#end##
#macro (typeParamsDeclaration $cls)##
    #if ($cls.hasTypeParams())##
            <##
        #foreach ($tp in $cls.typeParams())##
                $[$tp.fullDeclaration()]##
            #if ($foreach.hasNext), #end##
        #end##
            >##
    #end##
#end##
#macro (annotate $annotations)##
#foreach($a in $annotations)$a.asString()#if ($foreach.hasNext) #end#end##
#end##
