#macro (typeParams $cls)##
    #if ($cls.hasTypeParams())##
    <##
        #foreach ($tp in $cls.typeParams())##
            $[$tp.typeName()]##
            #if ($foreach.hasNext), #end##
        #end##
    >##
    #end##
#end##
#macro (typeParamsDeclaration $cls)##
    #if ($cls.hasTypeParams())##
            <##
        #foreach ($tp in $cls.typeParams())##
                $[$tp.fullDeclaration()]##
            #if ($foreach.hasNext), #end##
        #end##
            >##
    #end##
#end##
#macro (diamondIfHasTypeParams $cls)##
    #if ($cls.hasTypeParams)<>#end##
#end##
#macro (annotate $annotations)##
#foreach($a in $annotations)$a.asString()#if ($foreach.hasNext) #end#end##
#end##
#macro (annotateCreator $context)##
    #foreach($a in $context.annotators().annotateCreator($context))$a.asString()#if ($foreach.hasNext) #end#end##
#end##
#macro (annotateCreatorParameter $context $p)##
    #foreach($a in $context.annotators().annotateCreatorParameter($context, $p))$a.asString()#if ($foreach.hasNext) #end#end##
#end##
#macro (annotatePropertyMethod $context $p)##
    #foreach($a in $context.annotators().annotatePropertyMethod($context, $p))$a.asString()#if ($foreach.hasNext) #end#end##
#end##
#macro (annotateNonPropertyMethod $context)##
    #foreach($a in $context.annotators().annotateNonPropertyMethod($context))$a.asString()#if ($foreach.hasNext) #end#end##
#end##
#macro (annotateClass $context)##
    #foreach($a in $context.annotators().annotateClass($context))$a.asString()#if ($foreach.hasNext) #end#end##
#end##
