#macro (typeParams $cls)##
    #if ($cls.hasTypeParams())##
    <##
        #foreach ($p in $cls.typeParams())##
            $[$p.type()]##
            #if ($foreach.hasNext), #end##
        #end##
    >##
    #end##
#end##
