@$[$annotation.type()]##
#if ($annotation.hasValues())##
(##
    #foreach ($v in $annotation.values())##
        #if ($requiresExplicitName)##
        $v.name() = ##
        #end##
        $v.value().asString()##
        #if ($foreach.hasNext), #end##
    #end##
)##
#end##
