#parse("type-params.java.vm")

    public static final Expressions<$targetClass.simpleName()#foreach ($tp in $sourceClass.typeParams()), ?#end> ${dollar} = new Expressions<>(ObjectExpression.indirectArg());
    public static #typeParamsDeclaration($sourceClass) Expressions<$targetClass.simpleName()#foreach ($tp in $sourceClass.typeParams()), $tp.typeName()#end> ${dollar}() {
#if ($sourceClass.typeParams().isEmpty())
        return ${dollar};
#else
        return (Expressions<$targetClass.simpleName()#foreach ($tp in $sourceClass.typeParams()), $tp.typeName()#end>)${dollar};
#end
    }

    public static class Expressions<__S#foreach ($tp in $sourceClass.typeParams()), $tp.fullDeclaration()#end> {
        private final $[com.slimgears.util.repository.expressions.ObjectExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass)> self;
        private final Meta#typeParams($sourceClass) meta = #if ($sourceClass.typeParams().isEmpty())new Meta()#{else}new Meta<>()#end;

        Expressions($[com.slimgears.util.repository.expressions.ObjectExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass)> self) {
            this.self = self;
#foreach ($p in $properties)
            this.$p.name() = ##
    #if ($p.isReferenceProperty())##
            $[$p.type().erasureName()].ReferencePropertyExpression.create(##
    #elseif ($p.isStringProperty())##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofString(##
    #elseif ($p.isNumericProperty())##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofNumeric(##
    #elseif ($p.isComparableProperty())##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofComparable(##
    #elseif ($p.isBooleanProperty())##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofBoolean(##
    #elseif ($p.isCollectionProperty())##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofCollection(##
    #else##
            $[com.slimgears.util.repository.expressions.PropertyExpression].ofObject(##
    #end##
            self, meta.${p.name()});##

#end
        }

        static #typeParamsDeclaration($sourceClass) Expressions<$targetClass.simpleName()#typeParams($sourceClass)#foreach ($tp in $sourceClass.typeParams()), $tp.typeName()#end> create() {
            return new Expressions<>(ObjectExpression.arg());
        }

#foreach ($p in $properties)
        public final ##
    #if ($p.isReferenceProperty())##
        $[$p.type().erasureName()].ReferencePropertyExpression<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass)#foreach ($tp in $p.type().typeParams()), $tp.typeName()#end>##
    #elseif ($p.isStringProperty())##
        $[com.slimgears.util.repository.expressions.internal.StringPropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass)>##
    #elseif ($p.isNumericProperty())##
        $[com.slimgears.util.repository.expressions.internal.NumericPropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass), $[$p.type().asBoxed()]>##
    #elseif ($p.isComparableProperty())##
        $[com.slimgears.util.repository.expressions.internal.ComparablePropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass), $[$p.type().asBoxed()]>##
    #elseif ($p.isBooleanProperty())##
        $[com.slimgears.util.repository.expressions.internal.BooleanPropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass)>##
    #elseif ($p.isCollectionProperty())##
        $[com.slimgears.util.repository.expressions.internal.CollectionPropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass), $[$p.collectionElementType()]>##
    #else##
        $[com.slimgears.util.repository.expressions.internal.ObjectPropertyExpression]<__S, $targetClass.simpleName()#typeParams($sourceClass), Builder#typeParams($sourceClass), $[$p.type().asBoxed()]>##
    #end ##
        $p.name();##

#end
    }

    public static class ReferencePropertyExpression<__S, __T, __B#foreach ($tp in $sourceClass.typeParams()), $tp.fullDeclaration()#end> extends Expressions<__S#foreach ($tp in $sourceClass.typeParams()), $tp.typeName()#end> implements $[com.slimgears.util.repository.expressions.PropertyExpression]<__S, __T, __B, $targetClass.simpleName()#typeParams($sourceClass)> {
        private final $[com.slimgears.util.repository.expressions.ObjectExpression]<__S, __T> target;
        private final $[com.slimgears.util.autovalue.annotations.PropertyMeta]<__T, __B, $targetClass.simpleName()#typeParams($sourceClass)> property;

        private ReferencePropertyExpression(ObjectExpression<__S, __T> target, PropertyMeta<__T, __B, $targetClass.simpleName()#typeParams($sourceClass)> property) {
            super($[com.slimgears.util.repository.expressions.PropertyExpression].ofObject(target, property));
            this.target = target;
            this.property = property;
        }

        static <__S, __T, __B#foreach ($tp in $sourceClass.typeParams()), $tp.fullDeclaration()#end> ReferencePropertyExpression<__S, __T, __B#foreach ($tp in $sourceClass.typeParams()), $tp.typeName()#end> create(ObjectExpression<__S, __T> target, PropertyMeta<__T, __B, $targetClass.simpleName()#typeParams($sourceClass)> property) {
            return new ReferencePropertyExpression<>(target, property);
        }

        @Override
        public ObjectExpression<__S, __T> target() {
            return target;
        }

        @Override
        public PropertyMeta<__T, __B, $targetClass.simpleName()#typeParams($sourceClass)> property() {
            return property;
        }

        @Override
        public Type type() {
            return Type.Property;
        }
    }
